
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

 $font-primary: 'Oswald';
 $font-secondary: 'Roboto Condensed';
 $font-size-large: 8rem;

 $grey-color: #333333;
 $lightgrey-color: #cccccc;
 $blue-color: #0066cc;
 $lightblue-color: #6699cc;
 $white-color: #ffffff;

